@import '../../../sass/variables.scss';
@import '../../../sass/general.scss';

/*Login*/
.form-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form{
    max-width: 20rem;
    height: auto;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
  
    .login-logo{
        max-width: 100%;
        height: auto;
    }

    .group-item{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;
    }

    label{
        font-weight: bold;
        margin-bottom: .2rem;
    }

    input{
        padding: .4rem 0 .4rem 0;
        border: 0.1px solid #D0CCD0;
    }

    .btn-login{
        background-color: $black;
        color: $white;
        border: none;
        transition: .4s;

        &:hover{
            background-color: $yellow;
            color: $black;
        }
    }
}