@import 'variables.scss';

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    font-weight: bold;
}

.my-btn-dark:hover{
    &:hover{
        background-color: $yellow; 
        color: $black-light;
    }
}

.my-dark{
    background-color: $black-light; 
    color: $white;
}