<button type="button" class="btn mt-2 mb-2 my-dark" (click)="this.hideForm = !this.hideForm">Add new</button>
<div class="card mb-3" *ngIf="this.hideForm">
    <form class="p-3">
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" name="cpf" [(ngModel)]="this.employee.Cpf" required pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="this.employee.Name" required>
        </div>
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="this.employee.Username" required>
        </div>
        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="this.employee.Password" required>
        </div>
        <button type="submit" class="btn my-dark" (click)="Create()">Submit</button>
    </form>
</div>
<div class="table-responsive">
    <table class="table">
        <thead class="my-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cpf</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let employee of employees">
          <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.cpf}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.username}}</td>
            <td>
                <button type="button" class="btn btn-success btn-sm mr-2"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>