<nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #383838;">
    <a class="navbar-brand" href="#">BarberShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Order</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/customer">Customer</a>
            <a class="dropdown-item" routerLink="/employee">Employee</a>
            <a class="dropdown-item" routerLink="/payment">Payment</a>
            <a class="dropdown-item" href="#">Services</a>
            <a class="dropdown-item" href="#">ShopAddress</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- <nav class="navbar">
    <h2 class="navbar-brand">
        BarberShop
    </h2>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Order</a></li>
        <li>
            Management
            <ul>
                <li><a href="#">Customer</a></li>
                <li><a routerLink="/employee">Employee</a></li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Services</a></li>                
                <li><a href="#">ShopAddress</a></li>
            </ul>
        </li>
        <li><a href="#">Report</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</nav> -->