@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$black: #001011;
$yellow: #FFE900;
$grey: #646E78;
$ghost-white: #F4F4F9;
$white: #FFFFFF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*General*/


.container{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Utilities*/
.btn{
    padding: 0.5rem 2rem;
    cursor: pointer;
}


/*Login*/
.login-form{
    min-width: 20rem;
    min-height: 30rem;
    background: $ghost-white;
    text-align: center;
    padding: 3rem;
    border-radius: 5px;

    .login-logo{
        width: 20rem;
        height: 20rem;
    }

    .group-item{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;
    }

    label{
        font-weight: bold;
        margin-bottom: .2rem;
    }

    input{
        padding: .4rem;
    }

    .btn-login{
        background-color: $black;
        color: $white;
        border: none;
        transition: .4s;

        &:hover{
            background-color: $yellow;
            color: $black;
        }
    }
}





